.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ecf0f1;
    color: #7f8c8d;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn.btn-red{
    background-color: #e74c3c;
    color: #fff;
}

.btn.btn-red:hover{
    background-color: #c0392b;
}

.btn.btn-blue{
    background-color: #3498db;
    color: #fff;
}

.btn.btn-blue:hover{
    background-color: #2980b9;
}

.btn.btn-green{
    background-color: #1abc9c;
    color: #fff;
}

.btn.btn-green:hover{
    background-color: #16a085;
    transition: all .5s ease;
}