input[type="text"]{
    display: block;
    background-color: #fff;
    border: 3px dashed teal;
    padding: 10px 20px;
    width: 300px;
    margin: 5px 0 10px 0;
    outline: none;
    color: #777;
    font-size: inherit;
    font-family: inherit;
}

input[type="text"]:focus{
    border: 3px dashed tomato;
    transition: all .5s ease;
}