@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    padding: 10px;
    background-color: #ccc;
    font-family: 'Oswald', sans-serif;
}

.box{
    background-color: #ffffff;
    margin: 20px 60px 90px 120px;
    padding: 20px 60px 90px 120px;
    border: 3px solid #000;
    border-radius: 10px;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}